// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav {
  height: em(75);
  background-color: $bg-color;
  border-bottom: em(7) solid $primary-color;
  box-shadow: 10px 10px 50px $tertiary-color;
  color: white;
  overflow: hidden;;
  @include align-text;

  .nav-wrapper {
    border: 1px solid black;
    background-color: inherit;
    width: 50%;
    height: em(100);
    @include clearfix;
    @include grid-column(12);
  }

  ul {
    @include grid-column(4);
    border: 1px solid orange;
  }

 li {
    @include li-styles;
    border: 1px solid red;
    padding: 0;
    margin: 0;
  }

   .nav-title {
    @include grid-column(4);
        border: 1px solid yellow;
  }
}
