//Hero styles//

.hero {
  height: 75vh;
  background: linear-gradient(paleturquoise, thistle),
              url('../img/hero.jpg') no-repeat;
  background-blend-mode: hue;
  background-size: cover;
  margin-top: 0;
  padding: 0;
  width: 100%;
  height: 85vh;
  position: relative;
  @include align-text;
  margin: 0;
  width: 100%;
  @include skewed {
    background-color:white;
    bottom: -25px;
  }
  .hero-wrapper {
    margin-top: 20vh;
    @include grid-column(8);
    @include grid-push(2);
    border: 1px solid green;
  }
  h1 {
    color: red;
    margin-top: 0;
  }
  h3 {
    color: green;
  }

}
//
// .hero {
//   height: 85vh;
//   position: relative;
//   @include align-text;
//   margin: 0;
//   width: 100%;
//   .hero-wrapper {
//     margin-top: 20vh;
//     @include grid-column(8);
//     @include grid-push(2);
//     border: 1px solid green;
//   }
//   h1 {
//     color: red;
//     margin-top: 0;
//   }
//   h3 {
//     color: green;
//   }
// }
