// Main section styling

.main {
  @include grid-column(8);
  @include grid-push(2);
  background-color: thistle;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 50px solid yellow;
}

.main-gallery {
  background-color: green;
      border: 10px solid green;
  @include grid-column(12);
  .main-image {
    width: 33.33%;
    float: right;

  }
  img {
    width: 100%;
    height: 375px;
    margin: 0;
    padding: 0;
  }
}
